.bar {
  display: none;
  background-color: #020F1C;
  padding-top: 45px;
  padding-bottom: 214px;
}

.bar__title{
  margin-bottom: 113px;
}

.bar__menu {
  display: flex;
  align-items: top;
  justify-content: space-between;
  gap: 54px;
  position: relative;
}

.bar__menu-star{
  position: absolute;
  height: 230px;
  width: 230px;
  top: -161px;;
  right: 0;
  z-index: 0;
}

.bar__item:not(:last-child) {
  margin-bottom: 30px;
}

.bar__coctail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bar__coctail-title {
  font-size: 24px;
  line-height: 28px;
  color: #D6258F;
  max-width: 170px;
  cursor: pointer;
  transition: color 0.7s ease;
}

.bar__coctail-line {
  width: 435px;
  height:28px;
  border-bottom: 1px dashed #FFFFFF;
  margin-left: auto;
}

.bar__coctail-price {
    font-size: 24px;
    line-height: 28px;  
    color: #D6258F;
    margin-left: 28px;
}

.bar__ingredients {
  font-size: 18px;
  line-height: 21px;
  max-width: 300px;
}

.bar__menu-poster {
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 48px -1px transparent;
  max-width: 520px;
  height: 426px;
  overflow: hidden;
  transition:box-shadow .5s;
  padding: 0;
  
}

.bar__menu-poster:hover{
  box-shadow: 0px 0px 13px 5px rgba(173, 23, 176, 0.46), 0px 0px 41px -8px rgba(196, 78, 149, 0.76), 1px 2px 33px 8px #cf45988f, 0px 0px 12px 7px rgba(211, 144, 184, 0.44);
}

.bar__menu-img{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;  
  transition: opacity 2s; 
}

.image0{
  background:  url(../img/bar/coctail.jpg) no-repeat center/cover;
  transition: background .5s;
  opacity: 0;
  transition: opacity 2s;
}
.image1{
  background: url(../img/bar/lime.jpg) no-repeat center/cover;
  transition: background .5s;
  opacity: 0;
  transition: opacity 2s;
}
.image2{
  background: url(../img/bar/otvertka.jpg) no-repeat center/cover;
  opacity: 0;
  transition: opacity 2s;
}
.image3{
  background: url(../img/bar/apple.jpg) no-repeat center/cover;
  opacity: 0;
  transition: opacity 2s;
}
.image4{
  background: url(../img/bar/cocktail-foreva.jpg) no-repeat center/cover;
  opacity: 0;
  transition: opacity 2s;
}

.bar__btn {
  border: 2px solid #D6258F;
  border-radius: 20px;
  width: 100%;
  font-family: 'Roboto Condensed Regular';
  color:#FFFFFF;
  height: 68px;
  font-size: 24px;
  line-height: 28px;
  margin-top: 80px;
  transition:border 0.5s ease, box-shadow 0.5S ease;
}

.bar__btn:hover{
  border: 1px solid #FFFFFF;
  box-shadow: 0px 0px 13px 5px rgba(173, 23, 176, 0.46), 0px 0px 41px -8px rgba(196, 78, 149, 0.76), 1px 2px 33px 8px #D6258F, 0px 0px 12px 7px rgba(211, 144, 184, 0.44);
}

@media (max-width:1440px) {
  .bar{
    padding-top: 48px;
    padding-bottom: 65px;
  }
}

@media(max-width:1024px){
  .bar {
    padding-bottom: 59px;
    }

  .bar__coctail-title, bar__coctail-price{
    font-size: 20px;
    line-height: 24px;
  }

  .bar__ingredients{
    font-size: 18px;
    line-height: 21px;
  }

  .bar__coctail-line{
    width: 300px;
  }
}

@media(max-width:768px) {
  .bar {
    padding-top: 43px;
    padding-bottom: 74px;
  }

  .bar__title{
    margin-bottom: 90px;
  }

  .bar__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .bar__menu-poster{
    order:-1;
    margin-bottom: 50px;
    height: 350px;
  }

  .bar__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bar__coctail-title,
  bar__coctail-price {
  font-size: 18px;
  line-height: 21px;
  }

  .bar__menu-star{
    display: none;
  }

  .bar__ingredients {
    font-size: 16px;
    line-height: 19px;
  }

  .bar__coctail-line {
    width: 350px;
  }

  .bar__btn{
    margin-top: 40px;
  } 
}

@media(max-width:580px){
  .bar{
    padding-top: 40px;
    padding-bottom: 47px;
  }

  .bar__title{
    margin-bottom: 40px;
  }

  .bar__list{
    width: 100%;
  }
  .bar__menu-poster {
    margin-bottom: 34px;
    height: 300px;
  }
  .bar__coctail{
    margin-bottom: 10px;
  }
  .bar__ingredients {
    font-size: 14px;
    line-height: 16px;
  }
  .bar__coctail-line {
    display: none;
  }

  .bar__btn{
    font-size: 18px;
    line-height: 21px;
    height: 51px;
    margin-top: 50px;
  }
}

@media(max-width:425px){
  .bar {
      padding-top: 40px;
      padding-bottom: 33px;
    }
    .bar__btn {
      margin-top: 60px;
    }
    .bar__menu-poster {
      max-height: 300px;
    }
    .bar__btn {
      font-size: 14px;
      line-height: 17px;
      height: 37px;
    }
}

@media(max-width:320px) {
  .bar__btn {
    margin-top: 60px;
  }
  .bar__menu-poster {
    max-height: 200px;
  }
}