.events {
  padding-top: 140px;
  padding-bottom: 140px;
}

.section__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 60px;
  text-align: center; 
  text-transform: uppercase;
}

.events__cards-wrp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.events__arrow{
  position: absolute;
  top: 10px;
  left: -321px;
  transition: all 5s ease;
}

.events__arrow path:hover{
  fill: rgba(245, 154, 192, 0.219);
  stroke-opacity: 1;
  stroke: #fb23ff;
  stroke-width: 12px;
}

.arrow-big {
  display: none;
}

.event__card {
  max-width: 410px;
  width: calc(33.33% - 40px);
  height:max-content;
  background: #0F1F2F;
  padding-bottom: 27px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr 56px 23px 1fr;
  gap: 10px;
  grid-template-areas:
    "event__card-poster"
    "event__card-title"
    "event__card-date"
    "event__card-description";
}

.event__card-poster{
  grid-area: event__card-poster;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.event__card-poster1{
background: url('../img/cards/concert.jpg') no-repeat center/cover;
}
.event__card-poster2{
background: url('../img/cards/ticket.jpg') no-repeat center/cover;
}
.event__card-poster3{
background: url('../img/cards/guitar.jpg') no-repeat center/cover;
}

.event__card-title {
  grid-area:event__card-title ;
  padding-right: 5px;
  padding-left: 15px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #D6258F;
}

.event__card-date {
  grid-area:event__card-date ;
  font-size: 20px;
  line-height: 23px;
  color: #243D55;
  margin-left: auto;
  margin-right: 15px;
}

.event__card-description {
  grid-area: event__card-description;
  font-family: 'Roboto Condensed Regular';
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  padding-right: 5px;
  padding-left: 15px;
}

@media(max-width:2005px){
  .events {
      padding-top: 100px;
      padding-bottom: 85px;
    }

  .arrow-bigger{
    display: none;
  }

  .arrow-big{
    display: block;
  }

  .events__arrow {
    top: -180px;
    left:calc( 50% - 388px - 207px);
  }
}

@media(max-width:1150px){
  .events {
      padding-top: 90px;
      padding-bottom: 60px;
    }
  .arrow-big{
    display: none;
  }
  /* .event__card-poster{
    height: 200px;
  } */
  /* .event__card{
    height: 520px;
  } */
  
}
@media(max-width: 1073px){
  .events {
      padding-top: 80px;
  }

  .events__cards-wrp{
    gap:27px;
  }
}

@media(max-width:1024px) {
  .arrow-big {
    display: none;
  }
}
@media(max-width: 840px) {
.event__card3 {
    display: none;
  }
  .event__card{
    width:calc(50% - 20px);
  }
  .section__title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media(max-width: 568px){
  .events {
      padding-top: 43px;
      padding-bottom: 40px;
  }

  .events__title{
    margin-bottom: 64px;
  }

  .events__cards-wrp{
    flex-direction: column;
    gap:30px;
  }

  .event__card {
      width: 100%;
  }
    
  .event__card-title{
    font-size: 20px;
    line-height: 24px;
  }

  .event__card-date{
    font-size: 18px;
    line-height: 21px;
  }

  .event__card-description{
  font-size: 16px;
  line-height: 19px;
  }
}
@media(max-width: 390px){
  .events {
      padding-top: 61px;
      padding-bottom: 33px;
  }

  .events__title{
    margin-bottom: 33px;
  }

  .events__cards-wrp{
    gap:20px;
  }

  /* .event__card {
      height: 465px;
  } */

  .event__card-date {
      font-size: 16px;
      line-height: 19px;
  }

  .event__card-description {
      font-size: 14px;
      line-height: 16px;
  }
}