.footer{
  padding-top: 40px;
  padding-bottom: 50px;
  position: relative;
}
.footer__line{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

.footer__contacts{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer__contacts-link{
  display: block;
  transition:transform 0.5s;
}
.footer__contacts-link:hover{
  transform:scale(1.2);
}
