.footer{
  padding-top: 40px;
  padding-bottom: 50px;
  position: relative;
}

.footer__contacts{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer__contacts-link{
  display: block;
  transition:transform 0.5s;
}

.footer__contacts-link:hover{
  transform:scale(1.2);
}

@media(max-width:768px){
  .footer{
    padding-top: 30px;
  }
}
