.hero{
  width: 100%;
  height: 980px;
  background-image:linear-gradient(141.38deg, rgba(0, 0, 0, 0.37) 0.62%, rgba(41, 38, 41, 0.01) 100%), url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  position: relative;
  padding-top: 296px;
  padding-bottom: 300px;
  z-index: -1;
}

.hero::after {
  position: absolute;
  z-index: -11;
  top: 0;
  right: 0;
  content:"";
  display: block;
  width: 50%;
  height: 100%;
  background-image:  url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200% 100%;
}

.hero::before{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -11;
  content: "";
  display: block;
  width: 50%;
  height:100%;
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 200% 100%;
  filter: blur(23px);
  -webkit-filter: blur(23px);
  -moz-filter: blur(23px);
  -o-filter: blur(23px);
  -ms-filter: blur(23px);
}

.hero__presentation{
  max-width: 500px;
  
}

.hero__title {
  font-weight: 400;
  font-size: 96px;
  line-height: 113px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
}

.pink-text {
  color: #d6258F;
}


@media(max-width:1440px){
  .hero{
    height: 750px;
    padding-top: 155px;
    padding-bottom: 221px;
  }
  
} 

@media(max-width:1024px){
  .hero{
    height: 550px;
    padding-top: 101px;
      padding-bottom: 101px;
  }
  
  .hero__subtitle {
    font-size: 40px;
    line-height: 47px;
    max-width: 420px;
  }
}
@media(max-width:986px){
  .hero{
    height: 450px;
    padding-top: 84px;
    padding-bottom: 84px;
  }
  .hero__presentation{
    
    max-width: 380px;
  }

  .hero__title {
    font-size: 70px;
    line-height: 83px;
  }

  .hero__subtitle {
    font-size: 36px;
    line-height: 42px;
  }
}

@media(max-width:768px){
  .hero {
    height: 280px;
    }
  .hero::after, .hero::before{
    display: none;

  }
  
  .hero__presentation {
      max-width:90%; 
      margin:auto;
  }

  .hero__title{
    text-transform: lowercase;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px;
  }

  .hero__title::first-letter{
    text-transform: uppercase;
  }

  .hero__subtitle {
    font-size: 24px;
    line-height: 28px;
    display: block;
    margin:0 auto;
    text-align: center;
    
  }
}

@media(max-width:403px){
.hero__subtitle{
  max-width:242px ;
}
}

