.location{
position: relative;
}
.location__map{
  display: flex;
  height: 600px;
  filter: grayscale(70%);
  filter: invert(90%);
}
.location__contacts {
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.location__contacts_title {
  font-size: 48px;
  line-height: 57px;
  color: #D6258F;
  margin-bottom: 30px;
}

.location__contacts-address {
  margin-bottom: 15px;

}

.location__contacts-phone {
  display: block;
  margin-bottom:15px;
}

@media(max-width:1024px){
  .location__map{
    height: 500px;
  }
}
@media(max-width:768px){
  .location__map {
      height: 400px;
    }
  .location__contacts_title {
      font-size: 36px;
      line-height: 42px;
    }
}
@media(max-width:425px){
  .location__map {
      height: 293px;
    }
  .location__contacts_title {
      margin-bottom: 20px;
    }
  .location__contacts {
    font-size: 18px;
    line-height: 21px;
  }
}
@media(max-width:320px){
  .location__map {
      height: 250px;
    }
  .location__contacts_title {
      margin-bottom: 20px;
    }
  .location__contacts {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 19px;
  }
}
